body {
    /*background: #ECE9E6;  !* fallback for old browsers *!*/
    /*background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  !* Chrome 10-25, Safari 5.1-6 *!*/
    /*background: linear-gradient(to right, #FFFFFF, #ECE9E6); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
    font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif;
}



.content-container {
    margin-top: 130px;
}

a.no_login_link {
    color: black;
    font-size: 24px;
    font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif;
}

.no_login_image {
    max-width: 350px;
    margin-top: 100px;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.navigation_bar {
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top  , #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top  , #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
    margin: 0;
    top: 0;
    z-index: 999;
    position: fixed;
}

.alert {
    position: relative;
}

#title_text {
    font-size: 30px;
    font-family: Roboto, serif;
}

.logout_button {
    background: transparent;
    float: right;
    margin-right: 50px;
    color: white;
}

.fa-user-circle:hover {
    color: #d1d1d1;
}

.loading_gif {
    margin-right: -60px;
    vertical-align: center;
    margin-top: 7px;
}

.logo_image {
    padding: 0;
    margin-left: 35px;
}

.no_results_image {
    background-color: transparent;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.token-table th {
    padding: 6px;
}

.token-table td {
    padding: 6px;
}

.token-table {
    /*position: fixed;*/
    font-size: 12px;
    font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif;
    width: auto;
}

input[id="studentCodeUpload"] {
    display: none;
}

.th {
    background-color: #f5f5f5;
}
.homepage_button_container {
    margin-top: 200px;
}

.homepage_image {
    margin-top: 8%;
    width: auto;
    height: auto;
    max-width: 250px;
    max-height: 200px;
}

@media (max-width: 1440px) {
    .homepage_image {
        max-width: 200px;
        max-height: 160px;
    }
}

@media (max-width: 1024px) {
    .homepage_image {
        max-width: 160px;
        max-height: 128px;
    }
}

.homepage_image_caption {
    margin-top: 25px;
    color: black;
    font-size: 24px;
    font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif;
}

.homepage_button {
    width: 50%;
    height: auto;
    margin-bottom: 20px;
    background: #ebeced;
    border-radius: 12px;
    color: white;
}

#runForm {
    font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif;
}

.run_panel_container {
    margin-top: 30px;
    padding-bottom: 20px;
    background-color: #ebeced;
    margin-left: 30px;
    border-radius: 20px;
    height: fit-content;
}

.detection_input_group {
    margin-top: 60px;
    text-align: center;
    width: 90%;
}


.detection_page_run_button {
    font-size: 20px;
    height: 40px;
    width: 90%;
    background: #007bff;
    border-radius: .25rem;
    color: white;
    line-height: 22px;
    text-align: center;
}

.icon_button {
    font-size: 20px;
    height: 40px;
    width: auto;
    background: transparent;
    border-radius: .25rem;
    color: white;
    line-height: 22px;
    text-align: center;
}

#runJPlagButton {
    width: 90%;
    text-align: center;
    border-radius: 16px;
    margin-top: 35px;
    font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif;
}

.custom-file-upload {
    text-align: center;
    line-height: 22px;
    font-size: 20px;
    height: 40px;
    display: inline-block;
    background: transparent;
    width: 80%;
    color: white;
}

.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

#similarity_report_container {
    margin-left: 5%;
    margin-right: 5%;
    width: auto;
}

.result-group-name-container {
    border-right: solid 1px black;
    border-radius: 12px 0 0 12px;
}

.result-token-container {
    border-radius: 0 12px 12px 0;
}


.red-background {
    background: #ff8a8a;
    font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif;
}

.yellow-background {
    background: #ffcc8a;
    font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif;
}

.token-number-text {
    font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif;
    font-size: 24px;
}

.plagiarism-group-students {
    font-size: 18px;
    margin-top: 5px;
    margin-left: 5px;
}

.plagiarism-group-token {
    margin-top: 10px;
}

.plagiarism-group-box {
    -webkit-box-shadow: 10px 10px 12px -8px rgba(128,128,128,1);
    -moz-box-shadow: 10px 10px 12px -8px rgba(128,128,128,1);
    box-shadow: 10px 10px 12px -8px rgba(128,128,128,1);
    border-radius: 12px;
}

#result_details_button {
    background-color: white;
    font-size: 12px;
    margin-bottom: 20px;
}

.code-comparison-table {
    width:100%;
    /*table-layout: fixed;*/
    overflow-wrap: break-word;
}

.token-list-dropdown {
    margin-top: 15px;
    /*position: fixed;*/
}

.codes {
    background-color: #f7f7f7;
}

.table_custom {
    width: 100%;
    font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif;
}

.select_result_table_title {
    margin-left: 14%;
    font-size: 18px;
    margin-bottom: 10px
}

.table_title_small {
    margin-left: 2px;
    font-size: 20px;
    margin-top: 10px;
    font-family: Big Caslon,Book Antiqua,Palatino Linotype,Georgia,serif; font-weight: bold;
}

.table_title_large {
    margin-left: 2px;
    font-size: 24px;
    margin-top: 10px;
    font-family: Big Caslon,Book Antiqua,Palatino Linotype,Georgia,serif; font-weight: bold;
}

.table_delete_button {
    background: transparent;
}

.uploaded_baseFile_container_title {
    font-family: Big Caslon,Book Antiqua,Palatino Linotype,Georgia,serif;
    margin-bottom: 5px;
    font-size: 18px;
}

.uploaded_baseFile_name {
    margin-left: 10px;
    font-size: 15px;
    font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif;
}

.uploaded_student_file_table_container {
    margin-top: 26px;
}

.base-file-uploaded-container {
    font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif;
    margin-left: 30px;
    margin-top: 20px;
}

.no_file_uploaded_message {
    margin-top: 200px;
    font-size: 20px;
    font-family: Big Caslon,Book Antiqua,Palatino Linotype,Georgia,serif;
}

#clear_uploaded_files_button {
    border-radius: 16px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 16px;
    margin-right: -120px;
    font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif;
}

.code-overflow {
    max-height: calc(100vh - 190px);
}

.code-file-title {
    background-color: #e3e3e3;
    border-radius: 12px 0 0 12px;
    padding: 6px 6px 6px 20px;
}

pre {
    overflow:auto;
    margin:0 0 1em;
    padding:.5em 1em;
}


pre code,
pre .line-number {
    /* Ukuran line-height antara teks di dalam tag <code> dan <span class="line-number"> harus sama! */
    font:normal normal 12px/14px "Courier New",Courier,Monospace;
    color:black;
    display:block;
}

pre .line-number {
    float:left;
    margin:5px 1em 0 -1em;
    border-right:1px solid;
    text-align:right;
}

pre .line-number span {
    display:block;
    padding:0 .5em 0 1em;
    margin-bottom: 7.01px;
}

pre .cl {
    display:block;
    clear:both;
}


