#title_text {
    font-size: 30px;
    font-family: Roboto, serif;
}

#token_title_text {
    font-size: 15px;
    font-family: Roboto, serif;
}

.logo_image {
    padding: 0;
}

.token-table {
    font-size: 12px;


}

input[type="file"] {
    display: none;
}

.th {
    background-color: #f5f5f5;
}
.homepage_button {
    width: 50%;
    margin-bottom: 20px;
    background: #005cbf;
    border-radius: 12px;
    color: white;
}

.custom-file-upload {
    display: inline-block;
    background: #005cbf;
    width: 50%;
    border-radius: 12px;
    color: white;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

#similarity_report_container {
    margin-left: 5%;
    margin-right: 5%;
    width: auto;
}

.red-background {
    background-image: linear-gradient(to bottom, #ff8c8c , #ff8282);
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
}

#result_details_button {
    background-color: white;
    font-size: 12px;
    margin-bottom: 20px;
}



