html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    background: #485563;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

input::-webkit-input-placeholder {
    color: white !important;
}


input, select, textarea{
    color: white;
}

#login_title_text {
    color: black;
}

.login-container{
    margin-top: 120px;
    max-width: 40%;
}
.login-container{
    padding: 20px;
}




#login-row{
    margin-top: 100px;
}

#registration-form {
    padding: 20px;
}
.register_link a:link{
    color:#d0d0d0;
    font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif;

}

.register_link a:visited{
    color:#d0d0d0;
    font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif;

}

.submit_button {
    width: 100%;
    border-radius: 8px;
    font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif;
}

.username {
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 8px;
    color: white;
    font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif;
}

.username:focus {
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 8px;
    color: white;
    font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif;
}

.password{
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 8px;
    color: white;
    font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif;
}

.password:focus {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 8px;
    color: white;
    font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif;
}

.login_page_logo {

}

.login_page_image {
    width: 150px;
}

.login_page_title {
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
    font-size: 44px;
    color: white;
    margin-top: 40px;
    margin-left: -8%;
}


.register_page_title {
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
    font-size: 44px;
    color: white;
    margin-bottom: 100px;
}