@import views.html.main
@()

@main("Homepage") {
  <script src="@routes.Assets.versioned("javascripts/detectionPage.js")" type="text/javascript"></script>

  <div class="alert alert-info mt-3 " role="alert" id="detectionMainAlert">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  </div>

  <div class="row">
    <div class="col text-center">
      <button type="button" id="runJPlagButton" class="btn btn-primary homepage_button">RUN</button>
    </div>
  </div>

  <div class="row">
    <div class="col text-center">
      <button type="button" class="btn btn-primary homepage_button" data-toggle="modal" data-target="#jplagSettingsModal">Settings</button>
    </div>
  </div>

  <div class="row">
    <div class="col text-center">
      <form method="post" id="studentFileUploadForm" enctype="multipart/form-data">
        <label for="studentCodeUpload" class="custom-file-upload">
          <i class="fa fa-cloud-upload"></i> Upload File
        </label>
        <input type="file" name="studentFileCode" multiple="multiple" id="studentCodeUpload" class="btn btn-primary homepage_button">
      </form>
    </div>
  </div>

  <div class="modal" tabindex="-1" role="dialog" id="jplagSettingsModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Jplag settings</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form method="post" id="settingsForm" enctype="multipart/form-data">
              <div class="form-group">
                <label for="languageDropdown">Language</label>
                <select id="languageDropdown" name="language" class="form-control">
                  <option value="Please select a language">Please select a language</option>
                  <option value="java19">Java</option>
                  <option value="c#-1.2">C# 1.2</option>
                  <option value="char">Char</option>
                  <option value="scheme">Scheme</option>
                  <option value="python3">Python 3</option>
                  <option value="c/c++">C or C++</option>
                </select>
              </div>
              <div class="form-group mt-3">
                <label for="formControlRange">Sensitivity</label>
                <input type="range" name="sensitivity" class="custom-range inputRange" value="50" min="0" max="100" id="formControlRange">
                <span class="rangeValue">50</span>
              </div>
              <div class="form-group mt-3">
                <label for="minSimilarityInput">Minimum similarity ( % )</label>
                <input type="number" name="minPercentage" value="30" class="form-control" id="minSimilarityInput">
              </div>
              <div class="form-group mt-3">
                <label for="baseCodeUpload">Base Code/Common Framework Upload</label>
                <input type="file" name="basecode" multiple="multiple" id="baseCodeUpload" class="form-control-file">
              </div>
              <div class="modal-footer form-group">
                <input type="submit" id="saveButton" value="Submit"/>
              </div>
            </form>
        </div>
      </div>
    </div>
  </div>
}


