@(status: Option[String])

@main("Homepage") {

    @if(status.isDefined) {
        <div class="alert alert-info alert-dismissible fade show mt-3" role="alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Success!</strong> @status
        </div>
    } else {

    }



    <div class="row">
        <div class="col text-center">
            <a href="@routes.RunJPlagController.detection()" class="btn btn-primary homepage_button">Check for plagiarism</a>
        </div>
    </div>

    <div class="row">
        <div class="col text-center">
            <a href="@routes.RunJPlagController.result" class="btn btn-primary homepage_button">Past detection results</a>
        </div>
    </div>

    <div class="row">
        <div class="col">

        </div>
    </div>




}